import("grid")
importFrom("grid", "gpar")

importFrom( "gWidgets", 
 			"gwindow", "ggroup", "glayout", "gframe","gnotebook",
            "gdroplist", "gimage","glabel","gspinbutton","gedit", 
            "gradio","gbasicdialog", "ginput", "gbutton", "gfile"
)

importMethodsFrom( "gWidgets",
			"svalue","visible","visible<-","addSpring",
			"dispose"
)

importFrom("plyr", "ldply")